@font-face {
  font-family: Italiana-Plus;
  src: url(/assets/fonts/Italiana-Regular-Plus.ttf);
}

$neutral: #fff;
$primary: #1e1e1e;
$primary-btn: #242424;
$secondary: #efedea;
$secondary-btn: #ada394;
$font-decor: "Italiana-Plus", serif;
$font-func: "Cantarell", sans-serif;
$font-text: "Tenor Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  user-select: none;
}

a {
  text-decoration: none;
}

main {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
  background-color: $secondary;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: calc(105px + 1vw);
  margin-bottom: 75px;
  img {
    width: 100%;
    height: 100%;
  }
}

.text {
  font-family: $font-decor;
  font-size: calc(32px + 1vw);
  letter-spacing: 0.15em;
  margin-bottom: 75px;
}

.gallery-container {
  width: 100%;
  max-width: 950px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 100%;
  height: 100%;
}
.carousel-cell {
  height: 100%;
  margin-right: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0.8);
    transition: transform 0.3s;
  }
}
.carousel-cell.is-selected {
  img {
    transform: scale(1);
  }
}

.carousel-nav {
  display: flex;
  align-items: center;
  font-size: calc(11px + 0.5vw);
  font-family: $font-func;
  letter-spacing: 0.15em;
  margin-top: 40px;
  div {
    display: inline-block;
  }
  &-divider {
    width: 60px;
    height: 1px;
    background-color: $primary;
    margin: 0 15px;
  }
  .carousel-prev,
  .carousel-next {
    cursor: pointer;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    width: 185px;
  }
  .text {
    font-size: 55px;
  }
  .carousel-nav {
    font-size: 18px;
  }
}
