header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 8;
  background-color: $neutral;
  transition: all 0.3s;
}

.delivery-banner {
  background-color: $primary;
  color: $neutral;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-func;
  font-size: 11px;
  .delivery-banner-container {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .delivery-banner-image {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    svg {
      width: 100%;
      height: 100%;
      fill: $neutral;
    }
  }
}

.header-container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(60px + 1vw);
  img {
    width: 100%;
  }
}
.cart {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  .cart-container {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .cart-count {
      width: 15px;
      height: 15px;
      background-color: $secondary-btn;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -8px;
      right: -8px;
      font-family: $font-func;
      font-size: 10px;
      color: $neutral;
      display: none;
    }
  }
}
.hamburger {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 40px;
  display: flex;
  transform: translate(-50%, -50%);
  opacity: 1;
  cursor: pointer;
}

.cart-overlay {
  width: 100%;
  max-width: 450px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100vw;
  z-index: 9;
  background-color: $neutral;
  transition: right 0.3s;
  .cart-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .cart-heading {
      width: 80%;
      display: flex;
      justify-content: flex-start;
      font-family: $font-decor;
      font-size: 40px;
      letter-spacing: 0.15em;
      margin-top: 40px;
    }
    .cart-close {
      position: absolute;
      top: 30px;
      right: 30px;
      color: $primary;
      font-family: $font-func;
      font-size: 30px;
      cursor: pointer;
    }
    .cart-list {
      width: 90%;
      height: 60%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      .cart-item {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $primary;
        margin-bottom: 40px;
        .cart-item-left {
          width: 50%;
          .cart-item-image {
            width: 80%;
            height: 100%;
            position: relative;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            .cart-item-name {
              position: absolute;
              top: 40%;
              right: -75px;
              transform: rotate(-90deg);
              font-family: $font-decor;
              font-size: calc(16px + 0.5vw);
              letter-spacing: 0.15em;
              color: $primary;
              font-weight: 400;
              width: 150px;
            }
          }
        }
        .cart-item-right {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .cart-item-size {
            font-family: $font-func;
            font-size: 20px;
            letter-spacing: 0.15em;
            color: $primary;
            border-bottom: 2px solid $primary;
            margin-bottom: 20px;
          }
          .cart-item-price {
            font-family: $font-func;
            font-size: 16px;
            letter-spacing: 0.15em;
            color: $primary;
            margin-bottom: 10px;
          }
          .cart-item-counter {
            display: flex;
            align-items: center;
            font-family: $font-func;
            font-size: 16px;
            letter-spacing: 0.15em;
            color: $primary;
            margin-bottom: 15px;
            .counter-increment,
            .counter-decrement {
              cursor: pointer;
            }
            .cart-item-count {
              margin: 0 20px;
            }
          }
          .cart-item-remove {
            font-family: $font-func;
            font-size: 12px;
            letter-spacing: 0.15em;
            color: $secondary-btn;
            cursor: pointer;
          }
        }
      }
    }
    .cart-buttons {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      .cart-price-container {
        width: 60%;
        display: flex;
        justify-content: space-between;
        font-family: $font-func;
        font-size: 16px;
        letter-spacing: 0.15em;
        margin-bottom: 20px;
      }
      .cart-finish {
        width: 90%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-btn;
        color: $neutral;
        font-family: $font-func;
        font-size: 12px;
        letter-spacing: 0.15em;
        margin-bottom: 10px;
        cursor: pointer;
      }
      .cart-continue {
        width: 90%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $neutral;
        color: $primary;
        font-family: $font-func;
        font-size: 12px;
        letter-spacing: 0.15em;
        border: 1px solid $primary-btn;
        cursor: pointer;
      }
    }
  }
}

.nav-overlay {
  width: 100%;
  max-width: 450px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 9;
  background-color: rgba(30, 30, 30, 0.95);
  transition: left 0.3s;
  .nav-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $font-func;
      font-size: calc(20px + 1vw);
      letter-spacing: 0.15em;
      a {
        color: $neutral;
        margin-bottom: 20px;
      }
      .socials {
        margin-top: 20px;
        div {
          margin: 10px;
        }
        .social-links {
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            margin: 5px;
          }
          .tiktok {
            transform: scale(0.7) translateX(5px);
          }
        }
        svg {
          fill: $neutral;
          width: calc(20px + 1vw);
        }
      }
    }
    .nav-close {
      position: absolute;
      top: 30px;
      right: 30px;
      color: $neutral;
      font-family: $font-func;
      font-size: 30px;
      cursor: pointer;
    }
  }
}

.banner {
  width: 100%;
  height: 70vh;
}

.banner-container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.banner-img {
  width: 92.5%;
  height: 70%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 10%;
  }
  p {
    position: absolute;
    bottom: 65px;
    left: -45px;
    font-size: calc(40px + 2vw);
    color: $neutral;
    transform: rotate(90deg);
    font-family: $font-decor;
  }
}

.banner-txt {
  width: 85%;
  text-align: end;
  margin-top: 20px;
  p {
    font-size: calc(30px + 2vw);
    color: $primary;
    font-family: $font-decor;
  }
  .banner-link {
    font-size: calc(10px + 0.75vw);
    color: $secondary-btn;
    text-decoration: none;
    font-family: $font-func;
    letter-spacing: 0.15em;
    margin-top: 20px;
  }
}

.gallery {
  width: 100%;
  height: 80vh;
}

.gallery-container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.carousel {
  width: 100%;
  height: 55%;
  margin-top: 50px;
}
.carousel::before {
  content: "galéria";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  font-size: calc(40px + 2vw);
  font-family: $font-decor;
}
.carousel-cell {
  height: 100%;
  margin-right: 10px;
  img {
    height: 100%;
    transform: scale(0.8);
    transition: transform 0.3s;
  }
}
.carousel-cell.is-selected {
  img {
    transform: scale(1);
  }
}

.carousel-nav {
  display: flex;
  align-items: center;
  font-size: calc(11px + 0.5vw);
  font-family: $font-func;
  letter-spacing: 0.15em;
  margin-top: 40px;
  div {
    display: inline-block;
  }
  &-divider {
    width: 60px;
    height: 1px;
    background-color: $primary;
    margin: 0 15px;
  }
  .carousel-prev,
  .carousel-next {
    cursor: pointer;
  }
}

.motto {
  width: 100%;
  min-height: 350px;
  background-color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    font-size: calc(30px + 1vw);
    font-family: $font-decor;
    color: $primary;
    max-width: 85%;
  }
}

.newsletter {
  width: 100%;
  height: 275px;
  background-color: $primary;
  position: relative;
  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input[type="text"],
    input[type="email"] {
      width: 60%;
      max-width: 600px;
      height: 40px;
      border: 1px solid #b8b8b8;
      border-radius: 0;
      outline: none;
      text-align: center;
      font-size: calc(10px + 0.5vw);
      font-family: $font-func;
      letter-spacing: 0.15em;
      background-color: $secondary;
      color: $primary;
      margin: 5px 0;
    }
    input[type="submit"] {
      width: 45%;
      max-width: 400px;
      height: 40px;
      border: none;
      border-radius: 0;
      text-align: center;
      font-size: calc(10px + 0.5vw);
      font-family: $font-func;
      letter-spacing: 0.15em;
      background-color: $primary-btn;
      color: $neutral;
      margin: 15px 0 5px 0;
      cursor: pointer;
    }
  }
  p {
    position: absolute;
    top: 100px;
    right: -70px;
    font-size: calc(40px + 1vw);
    color: $neutral;
    transform: rotate(90deg);
    font-family: $font-decor;
  }
}

footer {
  width: 100%;
  min-height: 400px;
  background-color: $primary;
  color: $neutral;
  .footer-header {
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-heading {
      font-size: calc(40px + 1vw);
      font-family: $font-decor;
      margin: 0 30px;
    }
  }
  .footer-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-func;
    letter-spacing: 0.15em;
    a {
      color: $neutral;
    }
    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: calc(9px + 0.5vw);
      margin-top: 15px;
      a {
        margin: 7.5px;
      }
    }
    .socials {
      div {
        margin: 10px;
      }
      .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          margin: 5px;
        }
        .tiktok {
          transform: scale(0.7) translate(3px, 1px);
        }
      }
      svg {
        fill: $neutral;
        width: calc(15px + 1vw);
      }
    }
    .legal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: calc(6px + 0.5vw);
      margin-top: 5px;
      margin-bottom: 30px;
      a {
        margin: 7.5px;
      }
      p {
        margin-top: 15px;
      }
    }
  }
}
.footer-divider {
  width: calc(80px + 5vw);
  height: 0px;
  border: 1px solid $neutral;
}
