.product-container {
  width: 100%;
  .product-container-top {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .product-carousel {
    width: 100%;
    max-width: 450px;
    margin: 0 auto 20px auto;
    img {
      width: 100%;
    }
  }
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-name {
    font-family: $font-decor;
    font-size: calc(24px + 0.5vw);
    letter-spacing: 0.15em;
    color: $primary;
  }
  .product-blobs {
    display: flex;
    margin: 8px 0;
    .blob {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      z-index: 5;
      &-l {
        transform: translateX(5px);
        z-index: 4;
      }
      &-r {
        transform: translateX(-5px);
        z-index: 6;
      }
    }
  }
  .product-price {
    font-family: $font-func;
    font-size: calc(14px + 0.5vw);
    letter-spacing: 0.15em;
    margin-bottom: 10px;
    color: $primary;
  }
  .price-before {
    font-size: calc(12px + 0.25vw);
    text-decoration: line-through;
    margin-bottom: 5px;
  }
  .price-after {
    color: #ada394;
    margin-bottom: 20px;
  }
  .price-info {
    color: #ada394;
  }
  .product-size {
    display: flex;
    font-family: $font-func;
    font-size: calc(16px + 0.5vw);
    margin-bottom: 20px;
    letter-spacing: 0.15em;
    div {
      margin: 0 10px;
      cursor: pointer;
    }
  }
  .product-size-info {
    font-family: $font-func;
    font-size: calc(10px + 0.5vw);
    letter-spacing: 0.15em;
    margin-bottom: 30px;
    color: rgba(30, 30, 30, 0.5);
    cursor: pointer;
  }
  .add-button {
    width: 75%;
    height: 40px;
    background-color: $primary-btn;
    color: $neutral;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-func;
    font-size: calc(10px + 0.5vw);
    letter-spacing: 0.15em;
    border: none;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .product-description {
    width: 75%;
    font-family: $font-func;
    font-size: calc(12px + 0.5vw);
    text-align: justify;
    margin-bottom: 30px;
    color: $secondary-btn;
  }
  .product-accordion {
    width: 75%;
    font-family: $font-func;
    font-size: calc(10px + 0.5vw);
    color: $primary;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    margin-bottom: 50px;
  }
  .accordion {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary;
    background-color: $neutral;
    cursor: pointer;
    border: none;
    outline: none;
    span {
      font-size: calc(15px + 0.5vw);
      margin-right: 2px;
    }
  }
  .acc-space {
    margin-top: 10px;
  }
  .panel {
    background-color: $neutral;
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
    margin: 40px 0;
    div {
      margin-bottom: 10px;
      p {
        font-weight: bold;
      }
    }
    .material {
      margin-bottom: 20px;
    }
    .instrukcie {
      margin-bottom: 20px;
      div {
        display: flex;
        align-items: center;
      }
      img {
        width: 25px;
        height: 25px;
      }
    }
    .panel-cena {
      color: rgba(30, 30, 30, 0.5);
    }
    .packeta {
      p,
      div {
        text-decoration: line-through;
      }
    }
    .odstupenie {
      margin-top: 40px;
    }
    .odstupenie-text {
      margin-top: 10px;
    }
    a {
      color: $secondary-btn;
    }
  }
  .product-alternatives {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    p {
      font-family: $font-decor;
      font-size: calc(16px + 1vw);
      margin-bottom: 10px;
    }
    .alternatives-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .alternative {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 100%;
        margin-bottom: 10px;
      }
      &-name {
        font-family: $font-decor;
        font-size: calc(16px + 0.5vw);
        margin-bottom: 5px;
      }
      &-price {
        font-family: $font-func;
        font-size: calc(10px + 0.5vw);
        margin-bottom: 20px;
      }
    }
  }
}

.selected-size {
  border-bottom: 2px solid $primary;
}

.flickity-page-dots {
  bottom: 5px;
  .dot {
    height: 2px;
    width: 15px;
    margin: 2px;
    border-radius: 0;
    background-color: $neutral;
  }
}

.size-guide-overlay {
  width: 100%;
  max-width: 450px;
  height: 100vh;
  background-color: $neutral;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  display: none;
  transition: all 0.3s;
  .size-guide-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .size-guide-image {
    width: 350px;
    height: 505px;
    position: relative;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    #chest {
      position: absolute;
      top: 241px;
      left: 43px;
      font-family: $font-func;
      font-size: 12px;
      background-color: black;
      border-radius: 10px;
      color: $neutral;
    }
    #waist {
      position: absolute;
      top: 436px;
      left: 43px;
      font-family: $font-func;
      font-size: 12px;
      background-color: black;
      border-radius: 10px;
      color: $neutral;
    }
    #length {
      position: absolute;
      top: 301px;
      left: 177px;
      font-family: $font-func;
      font-size: 12px;
      background-color: black;
      border-radius: 10px;
      color: $neutral;
    }
    #sleeve {
      position: absolute;
      top: 198px;
      left: 295px;
      font-family: $font-func;
      font-size: 12px;
      background-color: black;
      border-radius: 10px;
      color: $neutral;
    }
  }
  .size-guide-image::before {
    content: "veľkostná tabuľka";
    position: absolute;
    width: 450px;
    text-align: center;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
    font-size: 44px;
    font-family: $font-decor;
  }
  .size-guide-selector {
    display: flex;
    font-family: $font-func;
    font-size: 23px;
    margin-top: 40px;
    letter-spacing: 0.15em;
    div {
      margin: 0 10px;
      cursor: pointer;
    }
  }
  .size-guide-close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: $primary;
    font-family: $font-func;
    font-size: calc(20px + 1vw);
    cursor: pointer;
  }
}
