.shop-banner {
  width: 100%;
  height: 60vh;
}

.shop-banner-container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.shop-banner-img {
  width: 100%;
  height: 90%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 40%;
  }
  p {
    position: absolute;
    bottom: 65px;
    left: -45px;
    font-size: calc(40px + 2vw);
    color: $neutral;
    transform: rotate(90deg);
    font-family: $font-decor;
  }
}

.product-list-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.product-list-item {
  width: 75%;
  max-width: 400px;
  display: block;
  margin-bottom: 50px;
  &:nth-child(odd) {
    margin-left: auto;
  }
  .product-image {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .product-name {
    position: absolute;
    font-family: $font-decor;
    font-size: calc(40px + 0.5vw);
    letter-spacing: 0.15em;
    color: $primary;
    font-weight: 400;
  }
  .name-l {
    top: 50%;
    left: -120px;
    transform: rotate(90deg);
  }
  .name-ll {
    top: 50%;
    left: -195px;
    transform: rotate(90deg);
  }
  .name-r {
    top: 50%;
    right: -100px;
    transform: rotate(-90deg);
  }
  .product-blobs {
    display: flex;
    justify-content: center;
    margin: 8px 0;
    .blob {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      z-index: 5;
      &-l {
        transform: translateX(5px);
        z-index: 4;
      }
      &-r {
        transform: translateX(-5px);
        z-index: 6;
      }
    }
  }
  .product-price {
    font-family: $font-func;
    font-size: calc(14px + 0.5vw);
    letter-spacing: 0.15em;
    color: $primary;
    text-align: center;
  }
  .price-before {
    font-size: calc(14px + 0.25vw);
    text-decoration: line-through;
  }
  .price-info {
    font-size: calc(14px + 0.25vw);
  }
}

.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .countdown-headsup {
    font-family: $font-func;
    font-size: calc(20px + 0.5vw);
    margin-bottom: 40px;
  }
}

.countdown {
  display: flex;
  color: $neutral;
  margin-bottom: 80px;
  .days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .days-nums {
      display: flex;
      font-size: 32px;
    }
    .days-nums > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 65px;
      width: 45px;
      background-color: $primary;
      border-radius: 20px;
      margin: 4px;
    }
    .days-txt {
      color: $primary;
      font-size: 14px;
      margin-top: 5px;
      font-family: $font-func;
      font-size: calc(12px + 0.5vw);
    }
  }
  .hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .hours-nums {
      display: flex;
      font-size: 32px;
    }
    .hours-nums > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 65px;
      width: 45px;
      background-color: $primary;
      border-radius: 20px;
      margin: 4px;
    }
    .hours-txt {
      color: $primary;
      font-size: 14px;
      margin-top: 5px;
      font-family: $font-func;
      font-size: calc(12px + 0.5vw);
    }
  }
  .minutes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .minutes-nums {
      display: flex;
      font-size: 32px;
    }
    .minutes-nums > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 65px;
      width: 45px;
      background-color: $primary;
      border-radius: 20px;
      margin: 4px;
    }
    .minutes-txt {
      color: $primary;
      font-size: 14px;
      margin-top: 5px;
      font-family: $font-func;
      font-size: calc(12px + 0.5vw);
    }
  }
}

.divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  .dot {
    height: 5px;
    width: 5px;
    background-color: $primary;
    margin: 10px 4px;
  }
}
