@charset "UTF-8";
@font-face {
  font-family: Italiana-Plus;
  src: url(/assets/fonts/Italiana-Regular-Plus.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main {
  overflow: hidden;
  display: block;
}

a {
  text-decoration: none;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -moz-appearance: textfield;
       appearance: textfield;
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  appearance: none;
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  appearance: button;
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 8;
  background-color: #fff;
  transition: all 0.3s;
}

.header-container {
  width: 100%;
  max-width: 1440px;
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(60px + 1vw);
}
.logo img {
  width: 100%;
}

.cart {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.cart .cart-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.cart .cart-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart .cart-container .cart-count {
  width: 15px;
  height: 15px;
  background-color: #ada394;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -8px;
  font-family: "Cantarell", sans-serif;
  font-size: 10px;
  color: #fff;
  display: none;
}

.hamburger {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 15px;
  display: flex;
  transform: translate(-50%, -50%);
  opacity: 1;
  cursor: pointer;
}

.cart-overlay {
  width: 100%;
  max-width: 450px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 9;
  background-color: #fff;
  transition: left 0.3s;
}
.cart-overlay .cart-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cart-overlay .cart-container .cart-heading {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  font-family: "Italiana-Plus", serif;
  font-size: 40px;
  letter-spacing: 0.15em;
  margin-top: 40px;
}
.cart-overlay .cart-container .cart-close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #1e1e1e;
  font-family: "Cantarell", sans-serif;
  font-size: 30px;
  cursor: pointer;
}
.cart-overlay .cart-container .cart-list {
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.cart-overlay .cart-container .cart-list .cart-item {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #1e1e1e;
  margin-bottom: 40px;
}
.cart-overlay .cart-container .cart-list .cart-item .cart-item-left {
  width: 50%;
}
.cart-overlay .cart-container .cart-list .cart-item .cart-item-left .cart-item-image {
  width: 80%;
  height: 100%;
  position: relative;
}
.cart-overlay .cart-container .cart-list .cart-item .cart-item-left .cart-item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-overlay .cart-container .cart-list .cart-item .cart-item-left .cart-item-image .cart-item-name {
  position: absolute;
  top: 40%;
  right: -75px;
  transform: rotate(-90deg);
  font-family: "Italiana-Plus", serif;
  font-size: calc(16px + 0.5vw);
  letter-spacing: 0.15em;
  color: #1e1e1e;
  font-weight: 400;
  width: 150px;
}
.cart-overlay .cart-container .cart-list .cart-item .cart-item-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-overlay .cart-container .cart-list .cart-item .cart-item-right .cart-item-size {
  font-family: "Cantarell", sans-serif;
  font-size: 20px;
  letter-spacing: 0.15em;
  color: #1e1e1e;
  border-bottom: 2px solid #1e1e1e;
  margin-bottom: 20px;
}
.cart-overlay .cart-container .cart-list .cart-item .cart-item-right .cart-item-price {
  font-family: "Cantarell", sans-serif;
  font-size: 16px;
  letter-spacing: 0.15em;
  color: #1e1e1e;
  margin-bottom: 10px;
}
.cart-overlay .cart-container .cart-list .cart-item .cart-item-right .cart-item-counter {
  display: flex;
  align-items: center;
  font-family: "Cantarell", sans-serif;
  font-size: 16px;
  letter-spacing: 0.15em;
  color: #1e1e1e;
  margin-bottom: 15px;
}
.cart-overlay .cart-container .cart-list .cart-item .cart-item-right .cart-item-counter .counter-increment,
.cart-overlay .cart-container .cart-list .cart-item .cart-item-right .cart-item-counter .counter-decrement {
  cursor: pointer;
}
.cart-overlay .cart-container .cart-list .cart-item .cart-item-right .cart-item-counter .cart-item-count {
  margin: 0 20px;
}
.cart-overlay .cart-container .cart-list .cart-item .cart-item-right .cart-item-remove {
  font-family: "Cantarell", sans-serif;
  font-size: 12px;
  letter-spacing: 0.15em;
  color: #ada394;
  cursor: pointer;
}
.cart-overlay .cart-container .cart-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.cart-overlay .cart-container .cart-buttons .cart-price-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-family: "Cantarell", sans-serif;
  font-size: 16px;
  letter-spacing: 0.15em;
  margin-bottom: 20px;
}
.cart-overlay .cart-container .cart-buttons .cart-finish {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  color: #fff;
  font-family: "Cantarell", sans-serif;
  font-size: 12px;
  letter-spacing: 0.15em;
  margin-bottom: 10px;
  cursor: pointer;
}
.cart-overlay .cart-container .cart-buttons .cart-continue {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #1e1e1e;
  font-family: "Cantarell", sans-serif;
  font-size: 12px;
  letter-spacing: 0.15em;
  border: 1px solid #242424;
  cursor: pointer;
}

.nav-overlay {
  width: 100%;
  max-width: 450px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100vw;
  z-index: 9;
  background-color: rgba(30, 30, 30, 0.95);
  transition: right 0.3s;
}
.nav-overlay .nav-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-overlay .nav-container nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cantarell", sans-serif;
  font-size: calc(20px + 1vw);
  letter-spacing: 0.15em;
}
.nav-overlay .nav-container nav a {
  color: #fff;
  margin-bottom: 20px;
}
.nav-overlay .nav-container nav .socials {
  margin-top: 20px;
}
.nav-overlay .nav-container nav .socials div {
  margin: 10px;
}
.nav-overlay .nav-container nav .socials .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-overlay .nav-container nav .socials .social-links a {
  margin: 5px;
}
.nav-overlay .nav-container nav .socials .social-links .tiktok {
  transform: scale(0.7) translateX(5px);
}
.nav-overlay .nav-container nav .socials svg {
  fill: #fff;
  width: calc(20px + 1vw);
}
.nav-overlay .nav-container .nav-close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  font-family: "Cantarell", sans-serif;
  font-size: 30px;
  cursor: pointer;
}

.banner {
  width: 100%;
  height: 70vh;
}

.banner-container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.banner-img {
  width: 92.5%;
  height: 70%;
  position: relative;
}
.banner-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 10%;
     object-position: 100% 10%;
}
.banner-img p {
  position: absolute;
  bottom: 65px;
  left: -45px;
  font-size: calc(40px + 2vw);
  color: #fff;
  transform: rotate(90deg);
  font-family: "Italiana-Plus", serif;
}

.banner-txt {
  width: 85%;
  text-align: end;
  margin-top: 40px;
}
.banner-txt p {
  font-size: calc(30px + 2vw);
  color: #1e1e1e;
  font-family: "Italiana-Plus", serif;
}
.banner-txt .banner-link {
  font-size: calc(10px + 0.75vw);
  color: #ada394;
  text-decoration: none;
  font-family: "Cantarell", sans-serif;
  letter-spacing: 0.15em;
  margin-top: 20px;
}

.gallery {
  width: 100%;
  height: 80vh;
}

.gallery-container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.carousel {
  width: 100%;
  height: 55%;
  margin-top: 50px;
}

.carousel::before {
  content: "galéria";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  font-size: calc(40px + 2vw);
  font-family: "Italiana-Plus", serif;
}

.carousel-cell {
  height: 100%;
  margin-right: 10px;
}
.carousel-cell img {
  height: 100%;
  transform: scale(0.8);
  transition: transform 0.3s;
}

.carousel-cell.is-selected img {
  transform: scale(1);
}

.carousel-nav {
  display: flex;
  align-items: center;
  font-size: calc(11px + 0.5vw);
  font-family: "Cantarell", sans-serif;
  letter-spacing: 0.15em;
  margin-top: 40px;
}
.carousel-nav div {
  display: inline-block;
}
.carousel-nav-divider {
  width: 60px;
  height: 1px;
  background-color: #1e1e1e;
  margin: 0 15px;
}
.carousel-nav .carousel-prev,
.carousel-nav .carousel-next {
  cursor: pointer;
}

.motto {
  width: 100%;
  min-height: 350px;
  background-color: #efedea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.motto p {
  text-align: center;
  font-size: calc(30px + 1vw);
  font-family: "Italiana-Plus", serif;
  color: #1e1e1e;
  max-width: 85%;
}

.newsletter {
  width: 100%;
  height: 275px;
  background-color: #1e1e1e;
  position: relative;
}
.newsletter form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter form input[type=text],
.newsletter form input[type=email] {
  width: 60%;
  max-width: 600px;
  height: 40px;
  border: 1px solid #b8b8b8;
  border-radius: 0;
  outline: none;
  text-align: center;
  font-size: calc(10px + 0.5vw);
  font-family: "Cantarell", sans-serif;
  letter-spacing: 0.15em;
  background-color: #efedea;
  color: #1e1e1e;
  margin: 5px 0;
}
.newsletter form input[type=submit] {
  width: 45%;
  max-width: 400px;
  height: 40px;
  border: none;
  border-radius: 0;
  text-align: center;
  font-size: calc(10px + 0.5vw);
  font-family: "Cantarell", sans-serif;
  letter-spacing: 0.15em;
  background-color: #242424;
  color: #fff;
  margin: 15px 0 5px 0;
  cursor: pointer;
}
.newsletter p {
  position: absolute;
  top: 100px;
  right: -70px;
  font-size: calc(40px + 1vw);
  color: #fff;
  transform: rotate(90deg);
  font-family: "Italiana-Plus", serif;
}

footer {
  width: 100%;
  min-height: 400px;
  background-color: #1e1e1e;
  color: #fff;
}
footer .footer-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-header .footer-heading {
  font-size: calc(40px + 1vw);
  font-family: "Italiana-Plus", serif;
  margin: 0 30px;
}
footer .footer-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cantarell", sans-serif;
  letter-spacing: 0.15em;
}
footer .footer-navigation a {
  color: #fff;
}
footer .footer-navigation .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(9px + 0.5vw);
  margin-top: 15px;
}
footer .footer-navigation .links a {
  margin: 7.5px;
}
footer .footer-navigation .socials div {
  margin: 10px;
}
footer .footer-navigation .socials .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-navigation .socials .social-links a {
  margin: 5px;
}
footer .footer-navigation .socials .social-links .tiktok {
  transform: scale(0.7) translate(3px, 1px);
}
footer .footer-navigation .socials svg {
  fill: #fff;
  width: calc(15px + 1vw);
}
footer .footer-navigation .legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(6px + 0.5vw);
  margin-top: 5px;
  margin-bottom: 30px;
}
footer .footer-navigation .legal a {
  margin: 7.5px;
}
footer .footer-navigation .legal p {
  margin-top: 15px;
}

.footer-divider {
  width: calc(80px + 5vw);
  height: 0px;
  border: 1px solid #fff;
}

.shop-banner {
  width: 100%;
  height: 60vh;
}

.shop-banner-container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.shop-banner-img {
  width: 100%;
  height: 90%;
  position: relative;
}
.shop-banner-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 40%;
     object-position: 100% 40%;
}
.shop-banner-img p {
  position: absolute;
  bottom: 65px;
  left: -45px;
  font-size: calc(40px + 2vw);
  color: #fff;
  transform: rotate(90deg);
  font-family: "Italiana-Plus", serif;
}

.product-list-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.product-list-item {
  width: 75%;
  max-width: 400px;
  display: block;
  margin-bottom: 50px;
}
.product-list-item:nth-child(odd) {
  margin-left: auto;
}
.product-list-item .product-image {
  position: relative;
}
.product-list-item .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-list-item .product-name {
  position: absolute;
  font-family: "Italiana-Plus", serif;
  font-size: calc(40px + 0.5vw);
  letter-spacing: 0.15em;
  color: #1e1e1e;
  font-weight: 400;
}
.product-list-item .name-l {
  top: 50%;
  left: -120px;
  transform: rotate(90deg);
}
.product-list-item .name-ll {
  top: 50%;
  left: -195px;
  transform: rotate(90deg);
}
.product-list-item .name-r {
  top: 50%;
  right: -100px;
  transform: rotate(-90deg);
}
.product-list-item .product-blobs {
  display: flex;
  justify-content: center;
  margin: 8px 0;
}
.product-list-item .product-blobs .blob {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 5;
}
.product-list-item .product-blobs .blob-l {
  transform: translateX(5px);
  z-index: 4;
}
.product-list-item .product-blobs .blob-r {
  transform: translateX(-5px);
  z-index: 6;
}
.product-list-item .product-price {
  font-family: "Cantarell", sans-serif;
  font-size: calc(14px + 0.5vw);
  letter-spacing: 0.15em;
  color: #1e1e1e;
  text-align: center;
}

.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countdown-container .countdown-headsup {
  font-family: "Cantarell", sans-serif;
  font-size: calc(20px + 0.5vw);
  margin-bottom: 40px;
}

.countdown {
  display: flex;
  color: #fff;
  margin-bottom: 80px;
}
.countdown .days {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countdown .days .days-nums {
  display: flex;
  font-size: 32px;
}
.countdown .days .days-nums > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 45px;
  background-color: #1e1e1e;
  border-radius: 20px;
  margin: 4px;
}
.countdown .days .days-txt {
  color: #1e1e1e;
  font-size: 14px;
  margin-top: 5px;
  font-family: "Cantarell", sans-serif;
  font-size: calc(12px + 0.5vw);
}
.countdown .hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countdown .hours .hours-nums {
  display: flex;
  font-size: 32px;
}
.countdown .hours .hours-nums > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 45px;
  background-color: #1e1e1e;
  border-radius: 20px;
  margin: 4px;
}
.countdown .hours .hours-txt {
  color: #1e1e1e;
  font-size: 14px;
  margin-top: 5px;
  font-family: "Cantarell", sans-serif;
  font-size: calc(12px + 0.5vw);
}
.countdown .minutes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countdown .minutes .minutes-nums {
  display: flex;
  font-size: 32px;
}
.countdown .minutes .minutes-nums > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 45px;
  background-color: #1e1e1e;
  border-radius: 20px;
  margin: 4px;
}
.countdown .minutes .minutes-txt {
  color: #1e1e1e;
  font-size: 14px;
  margin-top: 5px;
  font-family: "Cantarell", sans-serif;
  font-size: calc(12px + 0.5vw);
}

.divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.divider .dot {
  height: 5px;
  width: 5px;
  background-color: #1e1e1e;
  margin: 10px 4px;
}

.product-container {
  width: 100%;
}
.product-container .product-container-top {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.product-container .product-carousel {
  width: 100%;
  max-width: 450px;
  margin: 0 auto 20px auto;
}
.product-container .product-carousel img {
  width: 100%;
}
.product-container .product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-container .product-name {
  font-family: "Italiana-Plus", serif;
  font-size: calc(24px + 0.5vw);
  letter-spacing: 0.15em;
  color: #1e1e1e;
}
.product-container .product-blobs {
  display: flex;
  margin: 8px 0;
}
.product-container .product-blobs .blob {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 5;
}
.product-container .product-blobs .blob-l {
  transform: translateX(5px);
  z-index: 4;
}
.product-container .product-blobs .blob-r {
  transform: translateX(-5px);
  z-index: 6;
}
.product-container .product-price {
  font-family: "Cantarell", sans-serif;
  font-size: calc(14px + 0.5vw);
  letter-spacing: 0.15em;
  margin-bottom: 30px;
  color: #1e1e1e;
}
.product-container .product-size {
  display: flex;
  font-family: "Cantarell", sans-serif;
  font-size: calc(16px + 0.5vw);
  margin-bottom: 20px;
  letter-spacing: 0.15em;
}
.product-container .product-size div {
  margin: 0 10px;
  cursor: pointer;
}
.product-container .product-size-info {
  font-family: "Cantarell", sans-serif;
  font-size: calc(10px + 0.5vw);
  letter-spacing: 0.15em;
  margin-bottom: 30px;
  color: rgba(30, 30, 30, 0.5);
  cursor: pointer;
}
.product-container .add-button {
  width: 75%;
  height: 40px;
  background-color: #242424;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cantarell", sans-serif;
  font-size: calc(10px + 0.5vw);
  letter-spacing: 0.15em;
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
}
.product-container .product-description {
  width: 75%;
  font-family: "Cantarell", sans-serif;
  font-size: calc(12px + 0.5vw);
  text-align: justify;
  margin-bottom: 30px;
  color: #ada394;
}
.product-container .product-accordion {
  width: 75%;
  font-family: "Cantarell", sans-serif;
  font-size: calc(10px + 0.5vw);
  color: #1e1e1e;
  border-top: 1px solid #1e1e1e;
  border-bottom: 1px solid #1e1e1e;
  margin-bottom: 50px;
}
.product-container .accordion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1e1e1e;
  background-color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
}
.product-container .accordion span {
  font-size: calc(15px + 0.5vw);
  margin-right: 2px;
}
.product-container .acc-space {
  margin-top: 10px;
}
.product-container .panel {
  background-color: #fff;
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
  margin: 40px 0;
}
.product-container .panel div {
  margin-bottom: 10px;
}
.product-container .panel div p {
  font-weight: bold;
}
.product-container .panel .material {
  margin-bottom: 20px;
}
.product-container .panel .instrukcie {
  margin-bottom: 20px;
}
.product-container .panel .instrukcie div {
  display: flex;
  align-items: center;
}
.product-container .panel .instrukcie img {
  width: 25px;
  height: 25px;
}
.product-container .panel .panel-cena {
  color: rgba(30, 30, 30, 0.5);
}
.product-container .panel .packeta p,
.product-container .panel .packeta div {
  text-decoration: line-through;
}
.product-container .panel .odstupenie {
  margin-top: 40px;
}
.product-container .panel .odstupenie-text {
  margin-top: 10px;
}
.product-container .panel a {
  color: #ada394;
}
.product-container .product-alternatives {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}
.product-container .product-alternatives p {
  font-family: "Italiana-Plus", serif;
  font-size: calc(16px + 1vw);
  margin-bottom: 10px;
}
.product-container .product-alternatives .alternatives-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product-container .product-alternatives .alternative {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-container .product-alternatives .alternative img {
  width: 100%;
  margin-bottom: 10px;
}
.product-container .product-alternatives .alternative-name {
  font-family: "Italiana-Plus", serif;
  font-size: calc(16px + 0.5vw);
  margin-bottom: 5px;
}
.product-container .product-alternatives .alternative-price {
  font-family: "Cantarell", sans-serif;
  font-size: calc(10px + 0.5vw);
  margin-bottom: 20px;
}

.selected-size {
  border-bottom: 2px solid #1e1e1e;
}

.flickity-page-dots {
  bottom: 5px;
}
.flickity-page-dots .dot {
  height: 2px;
  width: 15px;
  margin: 2px;
  border-radius: 0;
  background-color: #fff;
}

.size-guide-overlay {
  width: 100%;
  max-width: 450px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  display: none;
  transition: all 0.3s;
}
.size-guide-overlay .size-guide-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.size-guide-overlay .size-guide-image {
  width: 350px;
  height: 505px;
  position: relative;
  display: flex;
  justify-content: center;
}
.size-guide-overlay .size-guide-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.size-guide-overlay .size-guide-image #chest {
  position: absolute;
  top: 241px;
  left: 43px;
  font-family: "Cantarell", sans-serif;
  font-size: 12px;
  background-color: black;
  border-radius: 10px;
  color: #fff;
}
.size-guide-overlay .size-guide-image #waist {
  position: absolute;
  top: 436px;
  left: 43px;
  font-family: "Cantarell", sans-serif;
  font-size: 12px;
  background-color: black;
  border-radius: 10px;
  color: #fff;
}
.size-guide-overlay .size-guide-image #length {
  position: absolute;
  top: 301px;
  left: 177px;
  font-family: "Cantarell", sans-serif;
  font-size: 12px;
  background-color: black;
  border-radius: 10px;
  color: #fff;
}
.size-guide-overlay .size-guide-image #sleeve {
  position: absolute;
  top: 198px;
  left: 295px;
  font-family: "Cantarell", sans-serif;
  font-size: 12px;
  background-color: black;
  border-radius: 10px;
  color: #fff;
}
.size-guide-overlay .size-guide-image::before {
  content: "veľkostná tabuľka";
  position: absolute;
  width: 450px;
  text-align: center;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  font-size: 44px;
  font-family: "Italiana-Plus", serif;
}
.size-guide-overlay .size-guide-selector {
  display: flex;
  font-family: "Cantarell", sans-serif;
  font-size: 23px;
  margin-top: 40px;
  letter-spacing: 0.15em;
}
.size-guide-overlay .size-guide-selector div {
  margin: 0 10px;
  cursor: pointer;
}
.size-guide-overlay .size-guide-close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #1e1e1e;
  font-family: "Cantarell", sans-serif;
  font-size: calc(20px + 1vw);
  cursor: pointer;
}

.about-banner {
  width: 100%;
  min-height: 700px;
  background-image: url("/assets/images/banner_about.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-banner-overlay {
  position: relative;
  width: 100%;
  min-height: 700px;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
}
.about-banner h2 {
  position: absolute;
  bottom: 55%;
  right: -80px;
  font-size: calc(60px + 1vw);
  color: #fff;
  transform: rotate(-90deg);
  font-family: "Italiana-Plus", serif;
}
.about-banner p {
  position: absolute;
  width: 80%;
  bottom: 20%;
  left: 16px;
  font-size: calc(10px + 0.5vw);
  font-weight: 700;
  font-family: "Cantarell", sans-serif;
  line-height: 2.2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.about-section1 {
  position: relative;
  width: 100%;
  min-height: 900px;
  background-color: #efedea;
}
.about-section1 .aside-decor {
  transform: rotate(-90deg);
  top: 25%;
  left: -35%;
  display: flex;
  align-items: center;
}
.about-section1 .aside-decor h2 {
  font-size: calc(10px + 0.5vw);
  font-family: "Cantarell", sans-serif;
  letter-spacing: 0.15em;
}
.about-section1 .aside-decor .aside-line {
  width: 150px;
  height: 1px;
  background-color: #1e1e1e;
  margin: 0 15px;
}
.about-section1 .about-image1 {
  position: absolute;
  top: -5%;
  right: 0;
  width: 80%;
  max-width: 400px;
  height: 45%;
}
.about-section1 .about-image1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section1 p {
  position: absolute;
  top: 45%;
  left: 10%;
  width: 85%;
  font-size: calc(22px + 1vw);
  font-family: "Italiana-Plus", serif;
  text-align: left;
  color: #1e1e1e;
  line-height: 1.5;
}

.about-section2 {
  position: relative;
  width: 100%;
  min-height: 700px;
}
.about-section2 .aside-decor {
  transform: rotate(-90deg);
  top: 0;
  bottom: 0;
  left: 400px;
  right: 0;
  display: flex;
  align-items: center;
}
.about-section2 .aside-decor h2 {
  font-size: calc(10px + 0.5vw);
  font-family: "Cantarell", sans-serif;
  letter-spacing: 0.15em;
}
.about-section2 .aside-decor .aside-line {
  width: 150px;
  height: 1px;
  background-color: #1e1e1e;
  margin: 0 15px;
}
.about-section2 .about-image2 {
  position: absolute;
  top: 7.5%;
  left: -15%;
  width: 100%;
  max-width: 750px;
  max-width: 750px;
  height: 45%;
}
.about-section2 .about-image2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section2 p {
  position: absolute;
  top: 60%;
  right: 7.5%;
  width: 90%;
  font-size: calc(10px + 0.5vw);
  font-weight: 700;
  font-family: "Cantarell", sans-serif;
  text-transform: uppercase;
  text-align: right;
  color: #1e1e1e;
  line-height: 2.2;
}
.about-section2 p span {
  color: #ada394;
}

.about-image-overlay {
  width: 100%;
  height: 100%;
  position: relative;
}

.about-clearfix1 {
  background: transparent;
  position: absolute;
  bottom: 115px;
  left: -200px;
}

.about-clearfix2 {
  background: transparent;
  position: absolute;
  bottom: 80px;
  right: -160px;
}

.contact-faq {
  width: 100%;
  min-height: 500px;
  background-color: #efedea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: 90%;
  max-width: 500px;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
}
.contact-container h2 {
  color: #1e1e1e;
  position: absolute;
  top: -38px;
  font-family: "Italiana-Plus", serif;
  font-size: calc(40px + 0.5vw);
}
.contact-container .contact-info {
  width: 80%;
  font-size: calc(12px + 0.5vw);
  font-family: "Cantarell", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: justify;
  line-height: 2.2;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.contact-container .contact-info a {
  color: #1e1e1e;
  font-weight: 700;
}
.contact-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container input[type=email] {
  width: 80%;
  height: 50px;
  border: 1px solid #b8b8b8;
  border-radius: 0;
  outline: none;
  text-align: center;
  font-size: calc(10px + 0.5vw);
  font-family: "Cantarell", sans-serif;
  letter-spacing: 0.15em;
  color: #1e1e1e;
  margin-top: 15px;
}
.contact-container .text-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b8b8b8;
  margin-top: 15px;
}
.contact-container textarea {
  width: 100%;
  border: none;
  border-radius: 0;
  outline: none;
  text-align: center;
  resize: none;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  font-size: calc(10px + 0.5vw);
  font-family: "Cantarell", sans-serif;
  letter-spacing: 0.15em;
  color: #1e1e1e;
  margin: 15px;
}
.contact-container input[type=submit] {
  width: 60%;
  height: 50px;
  border: none;
  border-radius: 0;
  text-align: center;
  font-size: calc(10px + 0.5vw);
  font-family: "Cantarell", sans-serif;
  letter-spacing: 0.15em;
  background-color: #242424;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 30px;
  cursor: pointer;
}

/* FAQ */
.faq-container {
  width: 90%;
  margin: 60px 0;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq-container h2 {
  color: #1e1e1e;
  position: absolute;
  top: -38px;
  font-family: "Italiana-Plus", serif;
  font-size: calc(40px + 0.5vw);
}

.faq-list {
  margin-top: 40px;
}
.faq-list .faq-item {
  margin-bottom: 40px;
}
.faq-list .faq-item h3 {
  font-size: calc(10px + 0.5vw);
  font-family: "Cantarell", sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.faq-list .faq-item p {
  font-size: calc(12px + 0.5vw);
  font-family: "Cantarell", sans-serif;
  text-align: justify;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  outline: none;
  border: none;
}

::-webkit-scrollbar-track {
  background: transparent;
  outline: none;
  border: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
  outline: none;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e1e1e;
  outline: none;
  border: none;
}

/*TABLET*/
@media only screen and (min-width: 750px) {
  .cart {
    left: 60px;
  }
  .hamburger {
    right: 30px;
  }
  .banner {
    height: 60vh;
  }
  .banner-img img {
    -o-object-position: 100% 5%;
       object-position: 100% 5%;
  }
  .banner-img p {
    left: -65px;
    bottom: 85px;
    font-size: calc(40px + 3vw);
  }
  /*SHOP*/
  .shop-banner {
    height: 70vh;
  }
  .shop-banner-img img {
    -o-object-position: 100% 30%;
       object-position: 100% 30%;
  }
  .shop-banner-img p {
    left: -60px;
    bottom: 100px;
    font-size: calc(40px + 4vw);
  }
  .product-list-item .name-l {
    left: -125px;
  }
  .product-list-item .name-ll {
    left: -200px;
  }
  .product-list-item .name-r {
    right: -105px;
  }
  /*PRODUCT*/
  .product-container .product-alternatives .alternative img {
    max-width: 275px;
  }
  /*ABOUT*/
  .about-banner h2 {
    right: -97.5px;
    font-size: calc(60px + 2vw);
  }
  .about-section1 .about-image1 {
    height: 60%;
  }
  .about-section1 p {
    top: 60%;
  }
  .about-section2 .about-image2 {
    height: 60%;
  }
  .about-section2 p {
    top: 75%;
  }
  .about-clearfix1 {
    bottom: calc(115px + 1vh);
    left: calc(-200px - 2vw);
  }
  .about-clearfix2 {
    bottom: calc(80px + 1vh);
    right: calc(-160px - 2vw);
  }
}
/*DESKTOP*/
@media only screen and (min-width: 1200px) {
  .nav-overlay .nav-container nav {
    font-size: 30px;
  }
  .nav-overlay .nav-container .nav-close {
    font-size: 30px;
  }
  .nav-overlay .nav-container nav .socials svg {
    width: 30px;
  }
  .cart {
    width: 30px;
    height: 30px;
    left: 80px;
  }
  .cart .cart-container .cart-count {
    width: 25px;
    height: 25px;
    top: -15px;
    right: -15px;
    font-size: 14px;
  }
  .cart-overlay .cart-container .cart-list .cart-item .cart-item-left .cart-item-image .cart-item-name {
    font-size: 24px;
  }
  .hamburger {
    width: 30px;
    height: 30px;
    right: 50px;
  }
  .banner {
    height: 100vh;
  }
  .banner-img p {
    left: -90px;
    bottom: 140px;
    font-size: 96px;
  }
  .banner-txt p {
    font-size: 58px;
  }
  .banner-txt .banner-link {
    font-size: 20px;
  }
  .gallery {
    height: 100vh;
  }
  .carousel {
    margin-top: 0;
  }
  .carousel-nav {
    font-size: 18px;
  }
  .carousel::before {
    font-size: 76px;
  }
  .motto p {
    font-size: 44px;
  }
  .newsletter p {
    font-size: 54px;
  }
  .newsletter form input[type=text] {
    font-size: 16px;
  }
  .newsletter form input[type=email] {
    font-size: 16px;
  }
  .newsletter form input[type=submit] {
    font-size: 16px;
  }
  footer .footer-header .footer-heading {
    font-size: 54px;
  }
  footer .footer-navigation .links {
    font-size: 16px;
  }
  footer .footer-navigation .socials svg {
    width: 30px;
  }
  footer .footer-navigation .legal {
    font-size: 13px;
  }
  /*SHOP*/
  .shop-banner {
    height: 80vh;
  }
  .shop-banner-img p {
    left: -90px;
    bottom: 140px;
    font-size: 96px;
  }
  .product-list-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  .product-list-item:nth-child(odd) {
    margin-left: 0;
    transform: translateY(50px);
  }
  .product-list-item .name-l {
    left: -140px;
  }
  .product-list-item .name-ll {
    left: -220px;
  }
  .product-list-item .name-r {
    right: auto;
    left: -120px;
    transform: rotate(90deg);
  }
  .product-list-item .product-name {
    font-size: 47px;
  }
  /*PRODUCT*/
  .product-container-top {
    display: flex;
    justify-content: center;
    overflow-y: auto;
  }
  .product-container-top .product-carousel {
    margin: 0;
  }
  .product-container-top .product-info {
    width: 40%;
  }
  .product-container .product-alternatives {
    margin-top: 40px;
  }
  .product-container .product-price {
    font-size: 21px;
  }
  .product-container .product-size div {
    font-size: 23px;
  }
  .product-container .product-size-info {
    font-size: 17px;
  }
  .product-container .add-button {
    font-size: 17px;
  }
  .product-container .product-description {
    font-size: 19px;
  }
  .product-container .product-accordion {
    font-size: 17px;
  }
  .product-container .product-alternatives {
    width: 72%;
  }
  .product-container .product-alternatives p {
    font-size: 32px;
  }
  .product-container .product-alternatives .alternative-name {
    font-size: 24px;
  }
  .product-container .product-alternatives .alternative-price {
    font-size: 17px;
  }
  .product-container .product-alternatives .alternatives-container {
    justify-content: flex-start;
  }
  .product-container .product-alternatives .alternative {
    width: 275px;
    margin-right: 40px;
  }
  .product-container .product-alternatives .alternative img {
    max-width: 275px;
  }
  .product-container .product-name {
    font-size: 32px;
  }
  /*ABOUT*/
  .about-banner {
    background-position: 100% 35%;
  }
}/*# sourceMappingURL=style.css.map */