* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: 'Antic Didone', serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  z-index: 999;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 84px;
  margin: 0 40px;
}

.header-container #logo {
  display: block;
  width: 120px;
}

.header-container #logo img {
  width: 100%;
}

.header-container .header-navigation a {
  color: black;
  font-size: 18px;
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.header-container .header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container .header-buttons div {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

#hero {
  background-color: #EBA2AF;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero div {
  width: 90%;
  margin: auto;
  text-align: center;
}

#hero p {
  color: white;
  font-size: 96px;
  text-align: center;
}

#hero a {
  display: inline-block;
  width: 195px;
  padding: 20px;
  border: 1px solid white;
  text-align: center;
  color: white;
  margin-top: 20px;
}

#aboutus {
  height: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutus a, #aboutus p {
  line-height: 1.7;
  letter-spacing: 0.025em;
}

.aboutus-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.aboutus-container h3 {
  font-size: 54px;
}

.aboutus-container p {
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
}

.aboutus-container a {
  display: inline-block;
  text-align: center;
  font-size: 13px;
  padding: 20px;
  background-color: #333029;
  color: white;
  width: 195px;
  margin-top: 20px;
}

.aboutus-left {
  padding: 0 40px 0 20px;
}

.aboutus-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutus-pic1 {
  width: 347px;
  height: 520px;
  background-color: lightgray;
  -webkit-transform: translate(50px, 50px);
          transform: translate(50px, 50px);
}

.aboutus-pic2 {
  width: 347px;
  height: 508px;
  background-color: gray;
}

#collection {
  height: 850px;
  background-color: #ccba9e80;
}

#gift {
  height: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gift a, #gift p {
  line-height: 1.7;
  letter-spacing: 0.025em;
}

.gift-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.gift-container h3 {
  font-size: 54px;
}

.gift-container p {
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
}

.gift-container a {
  display: inline-block;
  text-align: center;
  font-size: 13px;
  padding: 20px;
  background-color: #333029;
  color: white;
  width: 195px;
  margin-top: 20px;
}

.gift-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 0;
}

.gift-right {
  padding: 0 20px 0 40px;
}

.gift-pic1 {
  width: 285px;
  height: 380px;
  background-color: lightgray;
  -webkit-transform: translate(50px, 50px);
          transform: translate(50px, 50px);
}

.gift-pic2 {
  width: 285px;
  height: 427px;
  background-color: gray;
}

/*footer {
    height: 480px;
}*/
/*# sourceMappingURL=style.css.map */